DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>
JWT_SECRET_KEY=<your-jwt-secret>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=<your-gmail-address>
SMTP_PASSWORD=<your-google-app-password>
