DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>
JWT_SECRET_KEY=<your-jwt-secret>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=<your-gmail-address>
SMTP_PASSWORD=<your-google-app-password>

TWILIO_ACCOUNT_SID=<your-twilio-account-sid>
TWILIO_AUTH_TOKEN=<your-twilio-auth-token>
TWILIO_PHONE_NUMBER=<your-twilio-phone-number>

FIREBASE_CREDENTIALS=firebase-service-account.json